/* Premier League hex color codes */
/* #04f5ff - light blue
    #e90052 - red
    #00ff85 - green
    #38003c - purple */

/* Navbar & Dropdown styling */
nav {
  display: flex;
  justify-content: space-around;
  height: 90px;
  width: 100%;
  background: #38003c;
  border: 3px solid #00ff85;
  border-radius: 5px;
}
.nav-title {
  font-size: 1.5em;
  padding-left: 20px;
  align-self: center;
  color: #04f5ff;
}
.nav-links {
  font-size: 1em;
  padding-right: 20px;
  align-self: center;
}
.link {
  list-style: none;
  color: #e90052;
}
.dropdown-container {
  margin: 10px 3px 10px 3px;
}
.pick-a-dropdown {
  margin-right: 5px;
}
.dropdown-box {
  height: 30px;
  font-size: 1em;
  text-align: center;
  background-color: #04f5ff;
}
#table-dropdown-box {
  width: 70px;
}
#team-dropdown-box {
    width: 160px;
  }
.footnote {
  font-size: 0.85em;
  margin: 5px 3px 5px 3px;
}

/* Table styling */
.table-container {
  border: 3px solid #38003c;
  border-radius: 5px;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.table-title {
  height: 25px;
  width: 100%;
  text-align: center;
  margin-top: 7px;
  margin-bottom: 7px;
  font-size: 25px;
}
.table-grid {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}
.table-header {
  background-color: aquamarine;
  text-align: center;
  font-size: 1.2em;
  font-weight: 600;
}
.table-body {
  background-color: burlywood;
  text-align: center;
  font-size: 0.75em;
}
/* .table-row {
    height: 20px;
} */

/* Team page styling */
.team-container {
  border: 3px solid #38003c;
  border-radius: 5px;
  height: 500px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.roster-grid {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}
.roster-header {
  background-color: aquamarine;
}
.roster-body {
  background-color: burlywood;
}
.roster-header-row {
  font-size: 1.2em;
  font-weight: 600;
}
.roster-body-row {
  font-size: 1em;
}
.roster-title {
  height: 25px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.team-name {
  height: 25px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  font-size: 25px;
}
.team-crest {
  /* border: 1px solid red; */
}

/* Player page styling */
.player-page-container {
  border: 3px solid #38003c;
  border-radius: 5px;
  height: 570px;
  width: 100%;
  margin-bottom: 3px;
}
.player-bio-container {
  height: 250px;
  padding: 10px 3px 10px 3px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
}
.player-name {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.player-pic {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.player-info {
  font-size: 18px;
  padding: 0;
  margin: 0;
}
.stat-title {
  text-align: center;
}
.player-stat-grid {
  width: 100%;
  padding-left: 3px;
  padding-right: 3px;
}
.player-stat-header {
  background-color: aquamarine;
}
.stat-header-row {
  font-size: 1.2em;
  font-weight: 600;
}
.player-stat-body {
  background-color: burlywood;
}
.player-stat-row {
  font-size: 1em;
}

/* Footer styling */
.footer-container {
  border: 3px solid #00ff85;
  background-color: #38003c;
  color: #ffffff;
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}
.soccer-balls {
  align-self: center;
  /* background-image: url("../soccerball.jpeg"); */
  /* background-repeat: repeat-x; */
}
.ball-image {
  height: 25px;
  width: 25px;
}
.developer-tag {
  font-size: 0.75em;
  align-self: center;
}
